<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
	<% if @user.ratings.empty? %>
	has not rated anything!
	<% else %>
	Has <%= @user.ratings.count %> <%= "rating".pluralize(@user.ratings.count) %>, average <%= @user.average_rating%>
	<% end %>
</p>
 <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<h2>Memberships</h2>
<ul>
 	<% @user.beer_clubs.each do |clubs| %>
   	<li> <%= clubs %></li>
 	<% end %>
</ul>
<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


