<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @brewery.year %>
</p>

<h1>Beers</h1>
<p>beer count <%= @brewery.beers.count %></p>
<p>
<ul>	
 <% @brewery.beers.each do |beer| %>
   <li><%= link_to beer.name, beer%> </li>
 <% end %>
</p>
<p>
    <% if @brewery.ratings.empty? %>
    not rated!
    <% else %>
    Has <%= @brewery.ratings.count %> <%= "rating".pluralize(@brewery.ratings.count) %>, average <%= @brewery.average_rating%>
    <% end %>
</p>	
</ul>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
